<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-newsleep="{{devour}}">
		{{#if devour}}It's Gone{{else}}Time to Eat{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
